.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id" => "28096"}
        hoga
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member hoga
    = link_to "root_path" do
      .main-header__edit-btn Edit
  .messages
    .message{"data-message_id" => "41333"}
      .message__upper-info
        %p.message__upper-info__talker hoga
        %p.message__upper-info__date 2020/04/28(Tue) 20:58:43
      %p.message__text test
  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/28096/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "T6ROialKfCmcuTWGlE03DTF0+iedXB9sNWcZF97kkQspBXRQ68nR7m2rYRbendIBosMUjzwphRS14YbA95Xnqw=="}/
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/